[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial
[submodule "src/motor_positions/scripts/robotics-toolbox-python"]
	path = src/motor_positions/scripts/robotics-toolbox-python
	url = https://github.com/petercorke/robotics-toolbox-python
[submodule "src/motor_positions/ROS-msgs"]
	path = src/motor_positions/ROS-msgs
	url = https://github.com/uc-Scarab/ROS-msgs
